body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: #666666;
    font-size: 13px;
    line-height: 22px;
    min-width: 1024px;
    background: #a7d9fd url("../i/molekula.jpg") repeat 50% 0 fixed;

}

h1 {
    font-size: 22px;
    color: #2b80c5;
    line-height: 22px;
    padding-bottom: 16px;
    padding-top: 3px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
    text-align: left;
}

h2 {
    font-size: 16px;
    color: #2b80c5;
    line-height: 16px;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 25px;
}

h4 {
    color: #434343;
    font-size: 14px;
    line-height: 14px;
}

h5 {
    font-size: 13px;
    color: #000;
    line-height: 13px;
    margin-bottom: 15px;
}

p {
    padding-bottom: 14px;
}

a {
    color: #2b80c5;
    text-decoration: underline;
}

a:hover {
    color: #679dd1;
}

/*a:visited {*/
/*color: #0a5c92;*/
/*}*/

#bg2 {
    background: url("../i/bg2.png") repeat-x 100% 0 fixed;
    padding-bottom: 40px;
}

#buble1 {
    background: url("../i/buble1.png") repeat 0 0 fixed;
}

#top_bg {
    background: url("../i/top_bg.png") no-repeat left top;
    position: absolute;
    right: 0;
    top: 0;
    width: 723px;
    height: 474px;
    z-index: 1;

}

#container {
    width: 1000px;
    margin: 0 auto;
    /*overflow: hidden;*/

}

#content {
    background: rgba(255, 255, 255, 0.9);
    width: 725px;
    padding: 15px 15px 70px;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    min-height: 510px;
}

#back {
    position: absolute;
    bottom: 25px;
    left: 17px;
    font-size: 14px;
    background: url("../i/back.jpg") no-repeat left center;
    line-height: 14px;
    padding-left: 23px;
}

#right {
    float: right;
    /*position: relative;*/
}

#left-bar {
    float: left;
    width: 235px;
    padding-top: 25px;
}

#left-bar a.logo {
    display: block;
    text-align: center;
    margin-bottom: 45px;
}

#left-bar .menu {
    padding: 12px 0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 25px;
}

#left-bar .menu li a {
    display: block;
    padding: 15px 0;
    background: url("../i/dotted.png") repeat-x bottom;
}

#left-bar .menu li.last a {
    background: none;
}

#left-bar .menu li.active {
    background: rgba(245, 251, 255, 0.7);
}

#left-bar .menu li {
    padding: 0 12px;
}

#left-bar .menu li.active a {
    color: #0a5c92;
}

#left-bar .banner {
    width: 221px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

#left-bar .banner .top {
    background: url("../i/dash_top.png") no-repeat;
    height: 6px;
    line-height: 0;
}

#left-bar .banner .bot {
    background: url("../i/dash_bot.png") no-repeat;
    height: 6px;
    line-height: 0;
}

#left-bar .banner .middle {
    background: url("../i/dash_mid.png") repeat-y;
}

#left-bar .banner .inner {
    margin: 0 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);

}

#left-bar .banner .badge {
    background: url("../i/badge-new.png") no-repeat;
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 10;
    top: -4px;
    right: -4px;
}

#top_circles {
    float: left;
    margin-left: 25px;
    overflow: auto;
    width: 420px;
}

#top_circles .circle {
    width: 140px;
    display: block;
    float: left;
    height: 135px;
    background: url("../i/top_circles.png") no-repeat left 0;
}

#top_circles .circle.item2 {
    background-position: -140px 0;
}

#top_circles .circle.item3 {
    background-position: -280px 0;
}

#top_contacts {
    float: right;
    position: relative;
    z-index: 10;
    margin: 30px 9px 0 0;
}

#top_contacts .phone {
    font-size: 24px;
    line-height: 24px;
    color: #2c2c2c;
    margin-bottom: 16px;
}

#top_contacts .phone span {
    font-size: 16px;
}

#top_contacts .language {
    float: right;
    margin-right: 4px;
}

#top_contacts .language a {
    display: block;
    border: 1px solid transparent;
    padding: 3px 5px;
    margin-left: 5px;
    float: left;
}

#top_contacts .language a.active {
    border-color: #fff;
}

#top_contacts .language img {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    display: block;
}

#menu {
    background: url("../i/menu_bg.png") repeat-x top;
    height: 32px;
    border-radius: 50px;
    position: relative;
    z-index: 100;
    margin-bottom: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    margin-right: 2px;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 10px;
}

#menu li {
    width: 125px;
    float: left;
    height: 32px;
}

#menu li.first {
    border-radius: 50px 0 0 50px;
}

#menu li.last {
    border-radius: 0 50px 50px 0;
    width: 128px;
}

#menu li a {
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;
    width: 126px;
    height: 27px;
    padding-top: 5px;
    background: url("../i/menu_div.jpg") no-repeat right;
    text-shadow: 0 1px 0 #fff;
}

#menu li.last a {
    width: 130px;
}

#menu li:hover {
    background: url("../i/menu_hover.jpg") repeat-x top;
}

#menu li:hover a {
    background: url("../i/menu_hover_div.jpg") no-repeat right;
}

#menu li.last a {
    background: none;

}

#menu li.active {
    background: url("../i/menu_active.jpg") repeat-x top;
}

#menu li.active a {
    background: url("../i/menu_active_div.jpg") no-repeat right;
    color: #fff;
    text-shadow: none;
}

#content img {
    border: 3px solid #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    display: block;
    padding: 0;
    margin: 13px 20px 15px 0;
    display: block;
}

.breadcrumbs {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 24px 0;
}

.breadcrumbs li {
    float: left;
    font-size: 11px;
    line-height: 12px;
    padding-right: 6px;
    position: relative;
}

.breadcrumbs li ul {
    position: absolute;
    background: #fff;
    padding: 24px 4px 13px 13px;
    left: -13px;
    top: -13px;
    min-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: none;
}

.breadcrumbs li ul li {
    float: none;
    padding-top: 15px;
    padding-right: 0;
}

.breadcrumbs li:hover ul {
    display: block;
}

.breadcrumbs li ul li a {
    background: none;
    white-space: nowrap;
}

.breadcrumbs a {
    color: #000;
    position: relative;
    z-index: 5;
    text-decoration: none;
    display: block;
    padding-right: 10px;
    background: url("../i/miniarr.gif") no-repeat right 6px;
}

.breadcrumbs li:hover a {
    z-index: 20;
}

.breadcrumbs a span {
    border-bottom: 1px dashed #000;
    display: block;
}

.breadcrumbs li:hover a span {
    border: none;
}

.breadcrumbs a:hover span {
    border: none;
}

.desk-list {
    padding: 30px 0;
}

.desk-list h2 {
    padding: 12px 0 11px 60px;
    position: relative;
    min-height: 43px;
}

.desk-list h2 a i {
    position: absolute;
    width: 43px;
    top: 0;
    left: 0;
    height: 43px;
    background: url("../i/ico_sprite.png") no-repeat;
}

.desk-list h2 a i.farma {
    background-position: left 0;
}

.desk-list h2 a:hover i.farma {
    background-position: right 0;
}

.desk-list h2 a i.structure {
    background-position: left -43px;
}

.desk-list h2 a i.method {
    background-position: left -86px;
}

.desk-list h2 a i.results {
    height: 53px;
    top: -5px;
    background-position: left -129px;
}

.desk-list h2 a:hover i.structure {
    background-position: right -43px;
}

.desk-list h2 a:hover i.method {
    background-position: right -86px;
}

.desk-list h2 a:hover i.results {
    background-position: right -129px;
}

.desk-list a {
    border-bottom: 1px dashed #2b80c5;
}

.desk-list a:hover {
    border-bottom: 1px dashed #679dd1;
}

.desk-list .quote {
    padding-left: 85px;
    margin-top: -16px;
    overflow: auto;
}

.desk-list .quote .text {
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 20px 23px 25px;
    line-height: 30px;
    border: 1px solid #e6e6e6;
    color: #1d1d1d;
    font-size: 14px;
}

.desk-list h2.vivax {
    background: url("../i/vivax-logos.png") no-repeat center top;
}

.desk-list .quote .text .arr {
    position: absolute;
    bottom: -13px;
    right: 34px;
    width: 21px;
    height: 14px;
    background: url("../i/ballon-quite.png") no-repeat;
}

.desk-list .quote .author {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    color: #b3b3b3;
    padding-left: 18px;
    background: url("../i/ico_author.png") no-repeat left 2px;
    float: right;
    margin: 9px 67px 0 0;
}

.desk-list .quote .author span {
    padding: 0 15px;
}

#skrollr-body {
}

.comments {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 28px 0 20px;
}

.comments .form-comment {
    background: #e8edf2;
    padding: 8px;
    border-radius: 5px;
}

.comments .form-comment .inner {
    border-radius: 4px;
    border: 1px solid #d9dde1;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.comments .form-comment .head {
    padding: 0 15px;
    background: url("../i/headers-bg.jpg") repeat-x top;
    height: 45px;
    border-bottom: 1px solid #d9dde1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.comments .form-comment .head h4 {
    padding-top: 15px;
}

.comments .form-comment .social-auth {
    float: right;
    font-size: 12px;
    color: #9a9b9c;
    padding-top: 16px;
    text-shadow: 0 1px 0 #fff;
}

.comments .form-comment .social-auth .label {
    float: left;
    line-height: 15px;
}

.comments .form-comment .social-auth a {
    display: block;
    float: left;
    width: 16px;
    height: 17px;
    margin-left: 20px;
    background: url("../i/social_sprite.png") no-repeat;
}

.comments .form-comment .social-auth .twitter {
    background-position: 0 0;
}

.comments .form-comment .social-auth .twitter:hover {
    background-position: 0 bottom;
}

.comments .form-comment .social-auth .facebook {
    background-position: -16px 0;
}

.comments .form-comment .social-auth .facebook:hover {
    background-position: -16px bottom;
}

.comments .form-comment .social-auth .vkontakte {
    background-position: -32px 0;
}

.comments .form-comment .social-auth .vkontakte:hover {
    background-position: -32px bottom;
}

.comments .form-comment .form {
    overflow: auto;
    padding: 0 17px 10px;
}

.comments.feedback .form-comment .form {
    overflow: visible;
    position: relative;
}

.comments .form-comment .avatar {
    float: left;
    width: 90px;
}

.comments .form-comment .items {
    float: left;
    width: 569px;
    padding: 4px;
}

#content .comments img {
    margin-top: 0;
    margin-right: 0;
}

input[type=text], textarea {
    border-radius: 2px;
    border: 1px solid #babec0;
    display: block;
    margin-bottom: 18px;
    height: 34px;
    padding: 0 11px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #404040;
    font-size: 13px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 4px #eef1f3;
}

textarea {
    padding: 11px;
    width: 543px;
    height: 55px;
    resize: none;
}

input[type=text]:focus, textarea:focus {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 4px #d8e0e4;
    color: #404040;
}

input.error, textarea.error {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 4px #feb5c3;
    color: #d6507d;
    border: 1px solid #bdc1c4;
}

#content .form input[type=text] {
    width: 250px;
    float: left;
}

#content .form input[type=text].first {
    margin-right: 18px;
}

a.send, a.quest {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: url("../i/bg-but.png") repeat-x 0 -1px;
    border: 1px solid #026eb5;
    height: 25px;
    padding: 4px 15px 0;
    text-decoration: none;
}

a.send:hover {
    background-position: 0 -32px;
}

a.send:active {
    background-position: 0 -63px;
}

#content .form a.send {
    float: right;
}

#content .form .loader {
    float: right;
    margin: 7px 10px 0;
    background: url("../i/ajax-loader.gif") no-repeat;
    width: 16px;
    height: 16px;
}

.comments .comment {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-top: 30px;
    padding: 12px;
    position: relative;
}

.comments .comment .arr {
    position: absolute;
    background: url("../i/ballon_comment.png") no-repeat;
    width: 23px;
    height: 14px;
    left: 22px;
    top: -15px;
    border-bottom: 1px solid #f8fcff;
}

.comments .comment .avatar {
    width: 85px;
    float: left;
}

.comments .comment .text {
    width: 605px;
    float: left;
}

.comments .comment .info span {
    padding-left: 21px;
    margin-right: 27px;
}

.comments .comment .info {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    color: #b3b3b3;
    margin: 0 0 9px;
}

.comments .comment .info span.author {
    background: url("../i/ico_author.png") no-repeat left 1px;
}

.comments .comment .info span.date {
    background: url("../i/ico_date.png") no-repeat left 0;
}

.comments .comment .info span.time {
    background: url("../i/ico_time.png") no-repeat left 0;
}

a.quest {
    background: url("../i/bg-but.png") repeat-x 0 -1px;
    height: 23px;
    padding: 3px 15px 0;
    text-decoration: none;
}

a.quest:hover {
    background-position: 0 -32px;
}

a.quest:active {
    background-position: 0 -63px;
}

.comments .comment  a.quest {
    float: right;
    margin-right: 12px;
}

.padder {
    padding: 30px 0;
}

.padder.mini {
    padding: 16px 0;
}

.padder.mini h3 {
    margin-bottom: 15px;
}

.padder.bord {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.col-30 {
    width: 222px;
    float: left;
}

label.checkbox, label.radio {
    overflow: hidden;
    background: url("../i/checkbox.jpg") no-repeat top left;
    height: 13px;
    margin-bottom: 20px;
    line-height: 13px;
    padding-left: 23px;
    display: block;
    position: relative;
    cursor: pointer;
}

label.radio {
    background: url("../i/radio.jpg") no-repeat top left;
}

label.checkbox.active, label.radio.active {
    background-position: bottom left;
}

label input {
    position: absolute;
    top: -20px;
}

.preview {
    float: left;
    width: 216px;
    padding-left: 5px;
    margin-bottom: 20px;
    padding-right: 20px;
    position: relative;
}

.preview .play {
    position: absolute;
    width: 77px;
    height: 77px;
    background: url("../i/play.png") no-repeat;
    top: 45px;
    left: 70px;
    opacity: 0.7;
}

.preview a:hover .play {
    opacity: 1;
}

#content .preview a:hover img {
    border-color: #e2f3ff;
    box-shadow: 1px 1px 2px #7eafd1;
}

#content .preview img {
    margin: 0 0 10px -5px;
}

#content .preview.last {
    padding-right: 0;
}

.tags a {
    color: #cf7628;
    text-decoration: underline;
}

.tags a:hover {
    color: #e49d38;
}

/*.tags a:visited {*/
/*color: #0a5c92;*/
/*}*/

.tabs {
    background: #e8edf2;
    padding: 8px 8px 8px 3px;
    border-radius: 5px;
}

.tabs .inset {
    overflow: hidden;
}

.tabs .item h4, .tabs .item span, .tabs .item i {
    display: block;
    float: left;
}

.tabs .item {
    margin: 0 -30px 0 -20px;
    float: left;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.tabs .item.first {
    z-index: 10;
}

.tabs .item.second {
    z-index: 9;
}

.tabs .item.third {
    z-index: 8;
}

.tabs .item.four {
    z-index: 7;
}

.tabs .item.active {
    z-index: 15;
}

.tabs .item h4 {
    background: url("../i/vk-mid.png") repeat-x 0 -59px;
    height: 29px;
    padding: 18px 20px 0 10px;
}

.tabs .item:hover h4 {
    background-position: 0 -117px;
}

.tabs .item.active h4 {
    background-position: 0 -3px;
}

.tabs .item.first h4 {
    background-position: 0 -59px;
}

.tabs .item.first:hover h4 {
    background-position: 0 -117px;
}

.tabs .item.first.active h4 {
    background-position: 0 -3px;
}

.tabs .item span {
    background: url("../i/vk-begin.png") repeat-x 0 -235px;
    height: 47px;
    width: 35px;
}

.tabs .item:hover span {
    background-position: 0 -292px;
}

.tabs .item.active span {
    background-position: 0 -176px;
}

.tabs .item.first span {
    background-position: 0 -59px;
}

.tabs .item.first:hover span {
    background-position: 0 -117px;
}

.tabs .item.first.active span {
    background-position: 0 -3px;
}

.tabs .item i {
    background: url("../i/vk-end.png") repeat-x 0 -237px;
    height: 47px;
    width: 39px;
}

.tabs .item:hover i {
    background-position: 0 -294px;
}

.tabs .item.active i {
    background-position: 0 -178px;
}

.tabs .item.first i {
    background-position: 0 -61px;
}

.tabs .item.first:hover i {
    background-position: 0 -119px;
}

.tabs .item.first.active i {
    background-position: 0 -5px;
}

.tabs .tab-area {
    background: #fdfdfd;
    padding: 15px 15px 5px;
    position: relative;
    z-index: 11;
    border-radius: 0 4px 4px 4px;
    margin-left: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.file {
    float: left;
    width: 130px;
    margin-bottom: 29px;
    min-height: 85px;
    padding: 0 9px 0 85px;
    line-height: 13px;
}

.file a, .file span {
    display: block;
}

.file a {
    padding-top: 10px;
    margin-bottom: 12px;
}

.file h5 {
    margin-bottom: 11px;
}

.file.doc {
    background: url("../i/file-doc.jpg") no-repeat left top;
}

.file.xls {
    background: url("../i/file-xls.jpg") no-repeat left top;
}

.file.ppt {
    background: url("../i/file-ppt.jpg") no-repeat left top;
}

.file.pdf {
    background: url("../i/file-pdf.jpg") no-repeat left top;
}

.file.zip {
    background: url("../i/file-zip.jpg") no-repeat left top;
}

.file.unkown {
    background: url("../i/file-unkown.jpg") no-repeat left top;
}

.pager {
    text-align: center;
}

.pager li {
    display: inline-block;
    margin: 0 -1px;
    width: 28px;
    text-align: center;
    padding: 2px 0 0 0;
    height: 26px;
}

.pager li.active {
    background: #fff;
    border-radius: 28px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.pager li.active a {
    text-decoration: none;
}

.table {
    background: #e8edf2;
    padding: 8px;
    border-radius: 5px;
}

.table table {
    display: block;
    overflow: hidden;
    border-radius: 4px;
    background: #fff url("../i/table_bg.jpg") repeat-x top;
    padding: 3px 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.table table tbody {

}

.table table th {
    height: 29px;
    padding: 13px 10px 0 10px;
    min-width: 90px;
    border-right: 1px solid #e6e6e6;
}

.table table th, .table table td {
    text-align: left;
    vertical-align: top;
}

.table table td {
    padding: 13px 10px 13px 10px;
    border-right: 1px solid #e6e6e6;

}

.table table tbody tr {
    border-bottom: 1px solid #e6e6e6;
}

.table table tbody tr:last-child {
    border-bottom: none;
}

.table table td:last-child, .table table th:last-child {
    border-right: none;
}

ul.list {
    margin-bottom: 20px;
}

ul.list ul {
    margin-left: 15px;
}

ul.list li {
    background: url("../i/li-out.jpg") no-repeat left 8px;
    padding-left: 15px;
    padding-bottom: 10px;
}

ul.list li li {
    background: url("../i/li-in.jpg") no-repeat left 8px;
    padding-bottom: 0;
    margin-top: 10px;
}

ol {
    margin-bottom: 20px;
    list-style: decimal;
    margin-left: 20px;
}

ol li {
    padding-bottom: 10px;
}

ol li li {
    padding-bottom: 0;
    margin-top: 10px;
}

ol li ol {
    list-style: lower-latin;
    margin-bottom: 0;
    margin-left: 35px;
}

.col-50 {
    width: 335px;
    padding-right: 20px;
    float: left;
}

.persona {
    overflow: auto;
    line-height: 30px;
}

.persona .avatar {
    float: left;
    margin-right: 16px;
}

#content .persona .avatar img {
    margin: 0 0 5px;

}

.persona h4 {
    padding-top: 15px;
    margin-bottom: 16px;
}

.persona .info {
    float: left;
}

.persona strong {
    font-weight: normal;
    color: #000;
}

#footer {
    background: #fff url("../i/footer.jpg") repeat-x top;
    /*margin-top: 40px;*/
    text-align: center;
    color: #999999;
    font-size: 11px;
    line-height: 20px;
    position: relative;
}

#footer .container {
    width: 1000px;
    padding: 20px 0 10px;
    margin: 0 auto;
    position: relative;
}

#footer a {
    color: #000;
}

#footer .social {
    margin: 15px auto 0;
    width: 224px;
    overflow: auto;
}

#footer .social a {
    background: url("../i/social2.png") no-repeat 0 0;
    width: 16px;
    height: 16px;
    float: left;
    display: block;
    margin: 0 8px;
}

#footer a:hover {
    color: #555;
}

#footer .social .tw {
    background-position: 0 0;
}

#footer .social .tw:hover {
    background-position: 0 bottom;
}

#footer .social .fb {
    background-position: -31px 0;
}

#footer .social .fb:hover {
    background-position: -31px bottom;
}

#footer .social .vk {
    background-position: -62px 0;
}

#footer .social .vk:hover {
    background-position: -62px bottom;
}

#footer .social .ok {
    background-position: -93px 0;
}

#footer .social .ok:hover {
    background-position: -93px bottom;
}

#footer .social .gp {
    background-position: -125px 0;
}

#footer .social .gp:hover {
    background-position: -125px bottom;
}

#footer .social .yt {
    background-position: -157px 0;
}

#footer .social .yt:hover {
    background-position: -157px bottom;
}

#footer .social .ru {
    background-position: -188px 0;
}

#footer .social .ru:hover {
    background-position: -188px bottom;
}

#footer a.itech {
    position: absolute;
    right: 18px;
    background: url("../i/itech.jpg") no-repeat;
    width: 43px;
    height: 97px;
    top: 3px;
}

#social {
    background: #f0f0f0;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.3);
    width: 32px;
    overflow: hidden;
    border-left: 1px solid #fff;
    position: absolute;
    right: 0;
    padding: 5px 0;
    top: 245px;
    z-index: 100;
}

#social a {
    display: block;
    width: 16px;
    height: 17px;
    margin: 7px auto;
    background: url("../i/social_sprite.png") no-repeat;
}

#social a.tw {
    background-position: 0 0;
}

#social a.tw:hover {
    background-position: 0 bottom;
}

#social a.fb {
    background-position: -16px 0;
}

#social a.fb:hover {
    background-position: -16px bottom;
}

#social a.vk {
    background-position: -32px 0;
}

#social a.vk:hover {
    background-position: -32px bottom;
}

#social a.ok {
    background-position: -48px 0;
}

#social a.ok:hover {
    background-position: -48px bottom;
}

#social a.gp {
    background-position: -64px 0;
}

#social a.gp:hover {
    background-position: -64px bottom;
}

#social a.ml {
    background-position: -80px 0;
}

#social a.ml:hover {
    background-position: -80px bottom;
}

#social a.lj {
    background-position: -96px 0;
}

#social a.lj:hover {
    background-position: -96px bottom;
}

.form-labels {
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 0 10px;
    margin-bottom: 0;
    overflow: auto;
}

.form-labels h3 {
    margin-bottom: 12px;
}

.form-labels .item {
    overflow: auto;
    padding: 5px 0 0 0;
}

.form-labels .item label {
    display: block;
    float: left;
    text-align: right;
    color: #000;
    width: 210px;
    margin-right: 15px;
    padding-top: 6px;

}

.form-labels .item input[type=text], .form-labels .item textarea {
    width: 455px;
}

.form-labels a.send {
    float: left;
    margin-left: 225px;
    margin-bottom: 30px;
}

.contact .map {
    float: right;
    width: 447px;
    height: 303px;
    border: 1px solid #bdbdbd;
    margin-bottom: 10px;
}

#content .contact .map img, #content .captha img {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
}

.contact .info {
    float: left;
    width: 213px;
    color: #000;
    font-size: 13px;
    line-height: 30px;
}

.contact .info h5 {
    line-height: 22px;
    font-size: 14px;
}

.contact .info span {
    color: #666666;
}

.comments.feedback {
    border-top: 0;
    padding-top: 15px;
}

.comments.feedback .head {
    background: #fff;
    box-shadow: none;
    /*border-bottom:1px solid #bdbdbd;*/
}

#content .form .captha img {
    float: right;
}

#content .form .captha input[type="text"] {
    float: right;
    margin-left: 15px;
}

.contact .breadcrumbs {
    border: none;
    padding: 0 0 15px 0;
}

.feedback .contact .breadcrumbs {
    height: 13px;
}

.contact .breadcrumbs span {
    color: #000;
}

.shop_type {
    margin-bottom: 10px;
    margin-top: -15px;
}

.shop_type>ul>li {
    float: left;
    margin-right: 54px;
    position: relative;
}

.shop_type>ul>li>a {
    border-bottom: 1px dashed #2b80c5;
    text-decoration: none;
}

.lists ul {
    float: left;
    margin: 0 31px 0;
    width: 114px;

}

.lists ul li a {
    line-height: 22px;
    display: block;
}

.lists ul li {
    margin-bottom: 10px;
}

.lists ul li.big {
    margin-bottom: 0;
}

.lists ul.last {
    margin-right: 0;
}

.popup {
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: -15px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 3px #e0e0e0;
    overflow: hidden;
    border-radius: 4px;
    font-size: 14px;
    z-index: 100;
    display: none;

}

.popup .header {
    background: url("../i/pop_up_header_bg.jpg") repeat-x;
    height: 28px;
    text-align: center;
    font-weight: bold;
    padding-top: 7px;
    border-bottom: 1px solid #bfc3c5;

}

.popup .change {
    padding: 15px;
    background: #fff;
    overflow: auto;
}

.popup .change ul {
    float: left;

}

.popup .change ul.first {
    width: 131px;
    margin-right: 15px;
}

.popup .change ul.last {
    width: 113px;
    float: left;
}

.popup .change li a {
    font-size: 13px;
}

.shop_type>ul>li:hover .popup {
    display: block;
    cursor: pointer;
}

.where-buy .comments.feedback {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 11px;

}

.where-buy .comments.feedback.last {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 22px;
}

.where-buy .comments .form-comment .inner {
    overflow: visible;
}

.intro {
    background: #004377 url("../i/intro_body_bg.jpg") no-repeat center top;
}

.container_intro {
    width: 1000px;
    margin: 0 auto;
    position: relative;

}

.container_intro img {
    display: block;
    position: absolute;
    top: 90px;
    left: 90px;
}

.ico_menu {
    position: absolute;
    top: 43px;
    left: 227px;
}

.ico_menu span {
    background-image: url("../i/ico_vivax_sprite.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 232px;
    position: relative;

}

.ico_menu a {
  display: block;
    position: absolute;
    width: 140px;
    height: 140px;
    top: 48px;
    left: 32px;
}

.ico_menu .first {
    background-position: left top;
    width: 190px;


}

.ico_menu .sec a {
    left: 20px;
}

.ico_menu .last a {
    left: 20px;
}

.ico_menu .sec {
    background-position: -190px top;
    width: 180px;

}

.ico_menu .last {
    background-position: right top;
    width: 199px;
}

.new {
    margin-bottom: 35px;

}

#content .new img {
    margin: 0;

}

.new .info {
    margin-left: 245px;
}

.date_time span {
    display: block;
    float: left;
    color: #b3b3b3;
    font-size: 12px;
    margin-right: 20px;
    font-family: "Trebuchet MS", sans-serif;
}

.data_picker {
    position: relative;
    z-index: 1000;
    left: 15px;
    margin-top: 100px;
    margin-bottom: -132px;

}

.data_picker label, .data_picker input {
    float: left;
    display: block;
    margin-right: 15px;
    position: relative;
    z-index: 1000;

}

.data_picker label {
    padding-top: 7px;
}

.data_picker .well {
    position: relative;
}

.data_picker input {
    background: #fff url("../i/select_arr.jpg") no-repeat right;
    height: 33px;
    cursor: pointer;
    position: relative;
    color: #aeaeae;

}

.news {
    border-top: 1px solid #e6e6e6;
    padding-top: 30px;
    margin-top: 75px;

}

.datepicker {
    position: absolute;
    background: #fff;
    width: 230px;
    margin-left: -42px;
    margin-top: 5px;
    box-shadow: 0 0 4px #ccc;
    z-index: 10000;
    padding: 0;

}

.datepicker tr {
    border-bottom: 1px solid #e1e1e1;
}

.datepicker tr:last-child, .datepicker thead tr {
    border: 0;
}

.datepicker .dow {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;

}

.datepicker .dow:last-child {
    border-right: 0;
}

.datepicker tbody {

}

.datepicker:before, .datepicker:after {
    display: none;
}

.datepicker thead tr th {
    border-radius: 0;
    height: 34px;

}

.datepicker .datepicker-days, .datepicker .datepicker-month, .datepicker .datepicker-years {
    background: url("../i/pop_up_header_bg.jpg") repeat-x top;
    padding: 0 10px 10px;

}

.datepicker td {
    border-right: 1px solid #e1e1e1;
    border-radius: 0;
    padding: 2px 0;
}

.datepicker td:last-child {
    border: 0;
}

.datepicker thead th {
    height: 44px;
    padding-bottom: 10px;

}

.datepicker thead .dow {
    padding-bottom: 0;
    height: auto;
}

.datepicker thead tr:first-child th:hover {
    background: none;
    color: #2b80c5;
}

.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active {
    background-color: #cadff0;
}

.datepicker td[colspan="7"] {
    padding-left: 10px;
}

.datepicker td span.year {
    width: 46px;
}

.datepicker {
    display: none;
}


.vkladishi{
    display: none;
}

.quote{
    display: none;
}

.ui-loader {
    display: none;
}



@media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0) {
    .datepicker thead th {
        padding-top: 8px;
        padding-bottom: 12px;
    }

    .table table th {
        padding-top: 12px;
        padding-bottom: 12px;
    }

}

.table .sort {
    padding-right: 15px;
    background: url("../i/art-sort.png") no-repeat right 7px;
}

.table .sort.asc {
    background: url("../i/art-sort.png") no-repeat right -45px;
}












